.bootstrap-datetimepicker-widget {
    display: flex;
    justify-content: center;
}
.bootstrap-datetimepicker-widget .datepicker .active {
background-color: #ffb617;
color: #111;
}
.bootstrap-datetimepicker-widget .datepicker .active:hover {
background-color: #ffb617;
}
.bootstrap-datetimepicker-widget .datepicker table {
height: 400px;
width: 360px;
}
@media screen and (max-width: 374.98px) {
    .bootstrap-datetimepicker-widget .datepicker table {
        width: calc(100vw - 15px);
    }
}
.bootstrap-datetimepicker-widget .datepicker table thead th.dow {
padding: 20px 5px;
color: #a9a9a9;
}
.bootstrap-datetimepicker-widget .datepicker table td {
border: 5px solid transparent;
border-radius: 0;
overflow: hidden;
}
.bootstrap-datetimepicker-widget .datepicker table td.today::before {
border: 2px solid #ffb617;
height: calc(100% - 4px);
width: calc(100% - 4px);
top: 2px;
left: 2px;
}
.bootstrap-datetimepicker-widget .datepicker table td.today.active::before {
border-color: white;
}
/* body .modal.calendar .modal-dialog {
max-width: 380px;
} */
.modal-dialog.calendar{
max-width: 380px;
}

body .modal.calendar .modal-dialog .modal-header {
background-color: #ffb617;
}
body .modal.calendar .modal-dialog .modal-header .subCalendarTitle {
padding-bottom: 1rem;
}
body .modal.calendar .modal-dialog .modal-header .close {
color: white;
}  
.modal-content.calendar{
    padding: 0;
    border: none;
    border-radius: 0;
}

body .modal.calendar .modal-dialog .modal-header {
    background-color: #ffb617;
}
body .modal-content .modal-header {
    justify-content: center;
    border-bottom: none;
}
.modal-header{
    border-top-left-radius:0;
    border-top-right-radius:0;
}
@media (min-width: 576px){
    .modal-dialog.calendar{
        max-width: 380px;
    }
}